[Unit]
Description=Atlassian Bamboo Server
After=network-online.target
After=postgresql.service
Requires=postgresql.service

[Service]
User={{bamboo_user}}
Group={{bamboo_user}}

ExecStart={{bamboo_base}}/current/bin/catalina.sh run

[Install]
WantedBy=multi-user.target

