<?xml version='1.0' encoding='utf-8'?>
<Context>

  <WatchedResource>WEB-INF/web.xml</WatchedResource>
    
  <Resource name="jdbc/BambooDS"
            auth="Container"
            type="javax.sql.DataSource"
            username="{{psql_db}}"
            driverClassName="org.postgresql.Driver"
            url="jdbc:postgresql://localhost/bamboo?autoReconnect=true"/>

</Context>
