[Unit]
Description=Atlassian Stash Server
After=network-online.target
After=postgresql.service
Requires=postgresql.service

[Service]
User={{stash_user}}
Group={{stash_user}}

ExecStart={{stash_base}}/current/bin/catalina.sh run
Environment=STASH_HOME={{stash_home}} {% if stash_setup %} JAVA_OPTS=-Datlassian.dev.mode=true {% endif %}


[Install]
WantedBy=multi-user.target
